# CORE
numpy==1.26.4
pandas==1.4
Pillow==9.4.0
matplotlib==3.7.0
tqdm==4.64.1
cryptography>=41.0.0,<44
requests==2.28.2
python-dotenv==1.0.0
prompt-toolkit==3.0.38
PyMySQL==1.0.2
SLPP==1.2.3
pydub==0.25.1
autopep8==2.0.2
